* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --gray-100: #1F2523;
    --gray-200: #4D5C57;
    --gray-300: #CDD5D2;
    --gray-400: #E4ECE9;
    --gray-500: #F9FBFA;

    --grey-100: #1F8459;
    --grey-200: #2CB178;

    --danger: #B51919;
    --white: #FFF;

    --font-family: 'Open Sans', sans-serif;

    --heading-lg: 700 20px/24px var(--font-family);
    --heading-md: 700 16px/20px var(--font-family);
    --heading-sm: 700 14px/18px var(--font-family);
    --subheading: 600 14px/18px var(--font-family);
    --body-lg: 400 16px/20px var(--font-family);
    --body-mg: 400 14px/18px var(--font-family);
    --body-sm: 400 12px/16px var(--font-family);
    --label: 400 10px/14px var(--font-family);

}

body {
    background: var(--gray-300);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
    width: 80%;
    margin: 48px auto;

    >header {
        flex: 0 0 100%;
        height: 32px;
        border: red 1px solid;
    }

    >form {
        flex: 7 1 0;
        align-self: flex-start;
    }
    aside {
        flex: 9 1 0;
        align-self: flex-start;
    }
}

#grid-input{
    display: grid;
    gap: 16px;
    margin: 40px 0 32px;

    grid-template-areas:
    "A A"
    "B C";

    grid-template-columns: 11fr 8fr;
    
}

fieldset {
    border: none;

    input, select {
        width: 100%;
        padding: 16px;
        border: var(--gray-200) 1px solid;
        border-radius: 8px;
        
        font: var(--body-mg);
        color: var(--gray-200);
    }

    legend {
        font: var(--label);
        color: var(--gray-200);
        text-transform: uppercase;

        margin-bottom: 8px;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url(./assets/icons/Arrow.svg);
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 12px 8px;

    }
}

input:hover, select:hover, button:hover  {
        cursor: pointer;
    }

button[type="submit"] {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: none;
    background: var(--grey-100);

    font: var(--body-mg);
    font-weight: 700;
    color: var(--white);

}
.card-container {
    padding: 40px;
    border: none;
    border-radius: 16px;
    background: var(--gray-500);

    h1 {
        font: var(--heading-lg);
        color: var(--gray-100);
        margin-bottom: 12px;
    }

    h2 {
        font: var(--body-lg);
        color: var(--gray-200);
    }

    h3 {
        font: var(--heading-md);
        color: var(--gray-100);
    }

    p {
        font: var(--body-mg);
        color: var(--gray-200);
    }
}

aside {
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        margin: 0 0 24px;
        border-bottom: var(--gray-400) 1px solid;
    }

    ul {
        list-style: none;
        li  {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 6px;
            margin-bottom: 8px;
            border-radius: 8px;


            :nth-child(3) {
                margin-left: auto;
                border: red 1px solid;
                
            }

            div {
                display: inherit;
                flex-direction: column;

                strong {
                    font: var(--heading-md);
                    color: var(--gray-100);
                }

                span {
                    font: var(--body-sm);
                    color: var(--gray-200);
                }
            }

            #icon {
                background: var(--gray-400);
                padding: 8px;
                margin-right: 12px;
                border-radius: 50%;
            }

            >span {
                font: var(--subheading);
                color: var(--gray-100);

                small {
                    font: var(--body-sm);
                    color: var(--gray-200);
                }
            }

            #close {
                padding: 8px;
            }


        }
    }
}

ul li:hover {
    background: var(--gray-400);
}